<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBMimTBQGmtAX36nLQahSHgy6QXNww65J4</string>
	<key>GCM_SENDER_ID</key>
	<string>180847193334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zunguka-mover</string>
	<key>PROJECT_ID</key>
	<string>zunguka-mover</string>
	<key>STORAGE_BUCKET</key>
	<string>zunguka-mover.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180847193334:ios:8bf6ce72cbd0623e5b90d7</string>
</dict>
</plist>